/* desktop */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --beige: #f3efe7;
    --brown: #6b4f3a;
    --dark-brown: #3e2a1f;
    --accent: #c8a97e;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--beige);
    color: var(--dark-brown);
}

a {
    text-decoration: none;
    color: var(--dark-brown);
}

/* hero section */
.hero {
    height: 100vh;
    background-image: url("../images/preuzeto.jpeg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(243, 239, 231, 0.85);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: var(--brown);
}

.logo span {
    color: var(--accent);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--accent);
}

.hero-content {
    text-align: center;
    margin-bottom: 120px;
    background: rgba(243, 239, 231, 0.8);
    padding: 40px;
    max-width: 700px;
    align-self: center;
    border-radius: 8px;
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    font-size: 25px;
    padding: 12px 30px;
    background-color: var(--brown);
    color: var(--beige);
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: var(--dark-brown);
    transform: translateY(-3px);
}

.intro {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.intro h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.intro p {
    font-size: 20px;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 60px 80px;
}

.feature {
    background-color: #ffffffaa;
    padding: 80px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature h3 {
    font-size: 30px;
    padding-bottom: 20px;
}

.feature p {
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--brown);
    color: var(--beige);
}

/* hero2 */
.sub-hero {
    height: 50vh;
    background-image: url("../images/Snimka\ zaslona.png"); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-hero-content {
    text-align: center;
    background: rgba(243, 239, 231, 0.85);
    padding: 30px;
    margin-bottom: 40px;
    align-self: center;
    border-radius: 8px;
}

/* o nama */
.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 80px;
    align-items: center;
}

.about-text h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

.about-text p {
    margin-bottom: 15px;
    font-size: 20px;
}

.about-image img {
    width: 80%;
    border-radius: 10px;
}

.about-gallery {
    padding: 80px 60px;
}

.about-gallery h3 {
    font-size: 1.6rem;
    margin-bottom: 40px;
    text-align: center;
}

/*slike ambijenta*/
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* menu */
.menu-hero {
    padding: 100px 60px 60px;
    text-align: center;
}

.menu-hero h2 {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.menu-hero p {
    margin-bottom: 10px;
}

.menu-download {
    opacity: 0.6;
    margin-bottom: 50px;
}

.menu-section {
    padding: 60px;
}

.menu-layout {
    display: grid;
    grid-template-columns: minmax(0, 65%) minmax(0, 35%);
    gap: 50px;
    align-items: center;
}

.menu-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
    border-bottom: 1px solid rgba(107, 79, 58, 0.3);
}

.menu-text h3 {
    font-size: 1.3rem;
    margin-bottom: 6px;
}

.menu-text p {
    font-size: 0.95rem;
    opacity: 0.8;
}

.menu-price {
    font-size: 1.2rem;
    font-weight: bold;
    white-space: wrap;
}

.menu-image {
    display: flex;
    justify-content: center;
}

.menu-image img {
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
}

/*gallery koktela*/
.ostalo-gallery {
    padding: 80px 60px;
    text-align: center;
}

.Ostalo {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 40px 60px 20px;
    max-width: 1100px;
    margin: auto;
}

.Ostalo::-webkit-scrollbar {
    height: 8px;
}

.Ostalo::-webkit-scrollbar-thumb {
    background-color: #c8a97e;
    border-radius: 4px;
}

.Ostalo img {
    height: 320px;
    width: auto;
    border-radius: 16px;
    scroll-snap-align: center;
    flex-shrink: 0;
    transition: transform 0.4s ease;
}

.Ostalo img:hover {
    transform: scale(1.08);
}

/* eventi */
.events-section {
    padding: 60px;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.event-card {
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.event-content {
    padding: 20px;
}

.event-content h3 {
    margin-bottom: 5px;
}

.event-date {
    font-size: 0.85rem;
    margin-bottom: 10px;
    color: var(--brown-light);
}

/* kontakt */
.contact-section {
    padding: 80px 60px;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

/*mobile*/

@media (max-width: 900px) {
    .features {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }
    .about-section {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }
    .gallery-grid{
        grid-template-columns: repeat(2,1fr);
    }
    
    .menu-layout {
        grid-template-columns: 1fr;
    }

    .menu-image {
        margin-top: 40px;
    }

    .cocktail-slider {
        padding: 30px 20px;
    }

    .cocktail-slider img {
        height: 220px;
    }

    .events-grid {
        grid-template-columns: 1fr;
    }
    .contact-section {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }
}

